@charset "utf-8";

.message {
  width: 80%;
}
.message__text {
  margin: 0;
  padding: 10px;
  border-radius: 10px 10px 10px 0px;
  background-color: var(--color-white);
}
.message__info {
  display: flex;
  column-gap: 10px;
  font-size: 0.8rem;
  color: var(--color-white);
}
.message--mine {
  align-items: flex-end;
  margin-left: auto;
  .message__text {
    border-radius: 10px 10px 0px 10px;
  }
  .message__info {
    justify-content: flex-end;
  }
}