@charset "utf-8";

.room__inner {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background: var(--color-primary);
}

.room__header {
  display: flex;
  align-items: center;
  background: var(--color-primary-variant);
  padding: 10px 20px;
  color: var(--color-white);
}

.room__title {
  text-align: center;
  font-size: 1.5rem;
}

.room__info {
  display: flex;
  flex-direction: column;
  margin-block: auto;
  margin-left: auto;
  width: 40%;
}

.room__uuid {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.room__message-list {
  flex-grow: 1;
  padding: 10px;
  overflow: hidden;
  line-height: 135%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.room__footer {
  background: var(--color-gray);
  padding: 10px;
  display: flex;
  column-gap: 10px;
  .room__input {
    flex-grow: 1;
  }
}
